@import '../styles/Variables.scss';
.conteiner-contact {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    justify-content: center;
    & ul {
        position: relative;
        padding: 0;
        margin: 0;
        
       & li {
        
           & h1{
            color: $color1;
           }
           list-style: none;
           & p {
            color: $color1;
           }
           & i {
            color: $color1;
           }
           & a {
               

           }

       } 
    }
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.link-back {
    position: absolute;
    top: -30px;
    left: -150px;
    @media screen and (max-width: 900px){
        left: 1px;
    }
    color: $color1;
    

}
.underline {
    & i {
        font-size: 25px;
    }
    & p {
        text-decoration: underline;
    }
    
}